* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  background: url(../img/bg.jpg);
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

h1 {
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 0 0 0;
}

img {
  max-width: 100%;
}

h1::after,
h1::before {
  content: " 👾 ";
}

header {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: rgb(224, 75, 75);
}

aside {
  background-color: rgb(224, 75, 75);
  padding: 70px;
}

aside div {
  margin: 10px;
}

.red {
  width: 11%;
  box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.75);
  padding: 30px;
  cursor: cell;
  background-color: red;
}

.blue {
  width: 11%;
  box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.75);
  padding: 30px;
  cursor: cell;
  background-color: blue;
}

.green {
  width: 11%;
  box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.75);
  padding: 30px;
  cursor: cell;
  background-color: green;
}

.drop {
  width: 50%;
  background-color: black;
}

footer {
  text-align: center;
  background-color: rgb(224, 75, 75);
  font-size: 1.8rem;
  padding: 15px;
  margin: 100px 0 0 0;
}

footer img {
  width: 5%;
}
